<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <div class="card-title">
                <div class="container">
                    <a href="{{ path('product_view', {'id': product.id}) }}" >
                        <img src="{{ product.image }}" alt="Photo du produit"
                             style="height: 200px; width: 100%; display: block">
                    </a>
                    <dl>
                        <dd class="col-md-8"><strong>{{ product.name }}</strong></dd>
                        <dd class="col-md-8">{{ product.price }}€</dd>
                        <dd class="col-md-8">Prix Soldé : {{ product.DiscountPrice }}€</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>