<div class="example-wrapper">
    <h1>Solde</h1>
    {% if products %}
        <p>Hello, notre liste de solde a évolué </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix de base</th>
                <th scope="col">Prix soldé</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="table-active">
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|number_format(2, '.', ',') }} €</td>
                    <td>{{ product.discounted_price|number_format(2, '.', ',') }} €</td>
                    <td>{{ product.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Les produits n'ont pas été mise à jour.</p>
    {% endif %}
</div>